<% include partials/header %>
<% include partials/nav %>

<div class="container main margins">
    <!--<div class="card-deck">-->
      <% posts.forEach(function(post){ %>
      <div class="card">
        <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= post.title.toUpperCase() %></h5>
          <p class="card-text"><%= post.description.substring(0,150)+" ..." %></p>
          <a href="/blog/<%= post._id%>" class="btn btn-primary">Read More</a>
          <p class="card-text"><small class="text-muted">Posted on <%= post.date.toDateString() %></small></p>
        </div>
      </div>
      <% }); %>
    <!--</div>-->
</div>

<% include partials/footer %>